{% extends "templates/base.twig" %}

{% block title %} My Website home {% endblock %}

{% block body %}



<div class="jumbotron">
  <h1 class="display-4">View all Plans</h1>
  <table class="table table-bordered table-dark">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Cost</th>
        <th scope="col">Data </th>
        <th scope="col">Validity </th>
        <th scope="col"> </th>
        </tr>
    </thead>
   <tbody> 
    {% for plan in plans %}
    <tr>
      <th scope="row">{{plan.plan_id}}</th>
      <td>{{plan.cost}} </td>
      <td>{{ plan.data_perday}} Details </td>
      <td>{{ plan.validity}} Days</td>
      <td>
            <form action="/chooseplan" method="POST">
              <div class="form-group row">
              <div class="col-sm-10">
                <input type="hidden" class="form-control" id="planid" name="planid" value = {{plan.plan_id}}>
              </div>
              </div>
              <button type="submit" class="btn btn-primary mb-2"> Pay </button>
            </form>      
      </td>
    </tr>
    {% endfor %} 
   </tbody>
  
</table>

{% endblock %}

