{% extends "templates/base.twig" %}

{% block title %} My Website home {% endblock %}

{% block body %}

<div class="jumbotron">
  <h1 class="display-4">ClientHome</h1>
  <h1 class="display-4">View Previous Transactions</h1>
  <table class="table table-bordered table-dark">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Transaction ID</th>
        <th scope="col">Email</th>
        <th scope="col">Planid</th>
        <th scope="col">Transaction Time</th>
        </tr>
    </thead>
   <tbody> 
    {% for transaction in transactions %}
    <tr>
      <th scope="row">{{transaction.transaction_id}}</th>
      <td> {{transaction.transaction_id}} </td>
      <td>{{transaction.email}}</td>
      <td> {{transaction.planid}} </td>
      <td> {{transaction.transaction_time}} </td>
    </tr>
    {% endfor %} 
   </tbody>
  
</table>
  
  
</div>


{% endblock %}

