{% extends "templates/base.twig" %}

{% block title %} My Website home {% endblock %}

{% block body %}

<div class="jumbotron">
  <h1 class="display-4">Make Payment</h1>

  <form action="/makepayment" method="POST">
  <div class="form-group">
    <label for="name">Phone Number</label>
    <input type="text" class="form-control" id="phonenumber" name="Phonenumber" aria-describedby="emailHelp" placeholder="Enter Phone Number">
  </div>
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter Email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password">
  </div>
   {% if otpexist %}
  <div class="form-group">
    <label for="otp">Enter OTP</label>
    <input type="number" class="form-control" id="otp" name="otp" placeholder="Enter otp">
  </div>
  {% endif %}
  <div class="form-group">
    <label for="otp"> Plan Chosen</label>
    <input type="number" readonly class="form-control" id="planid" name="planid" value = {{planid}}>
  </div>  
  

  
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  {% if alreadyexist %}
  <p>
    <em> Email already in use</em>
  </p>
  {% endif %}
  
</form>
  
</div>

{# 
<div class="jumbotron">
  <h1 class="display-4">View all Plans</h1>
  <table class="table table-bordered table-dark">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Cost</th>
        <th scope="col">Details </th>
        <th scope="col">Validity </th>
        <th scope="col"> </th>
        </tr>
    </thead>
   <tbody> 
    {% for plan in plans %}
    <tr>
      <th scope="row">{{plan.plan_id}}</th>
      <td>{{plan.cost}} </td>
      <td>{{ plan.data_perday}} GB/Day</td>
      <td>{{ plan.validity}} Days</td>
      <td>
            <form action="/chooseplan" method="POST">
              <div class="form-group row">
              <div class="col-sm-10">
                <input type="hidden" class="form-control" id="planid" name="planid" value = {{post.planid}}>
              </div>
              </div>
              <button type="submit" class="btn btn-primary mb-2"> Pay </button>
            </form>      
      </td>
    </tr>
    {% endfor %} 
   </tbody>
  
</table> #}

{% endblock %}

